$black:#080808;
$gray: #767676;
$lightest-gray: #F8F8F8;

$color-main: #2f2fa2;
$color-secondary: #f64c72;

$link: #0c3e5f;
$placeholder: #8c8c8c;
$radius-main: 0.3rem;
$shadow-element: 0 1px 3px rgba(0, 0, 0, 0.12);


